.grid {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
}

.grid-wrapper {
    margin: 24px;
}

.grid-cell:first-child {
    border-top: 1px solid;
}

.grid-row:first-child {
    border-left: 1px solid;
}

.grid-row {
    flex: 1;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    justify-content: start;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin: 0;
    padding: 0;
    height: auto;
}

.grid-row .grid-cell {
    flex: 1 0;
    flex-basis: 100%;
    width: 32px;
    height: 32px;
    background-color: #fff;
    /* border-left: 1px solid; This might be sideways, given the flexbox */
    border-right: 1px solid;
    border-bottom: 1px solid;
    /* This is a basic sprite mapping */
    background-image: url(../../assets/images/tiles.png);
    background-size: 128px;
    background-position: 0px;
}

.grid-cell.filled {
    background-position: 64px;
}

.grid-cell::before {
    content: " ";
    float: left;
    padding-top: 100%;
}

/* .grid-row:first-child {
    border-left: 1px solid;
} */
