.grid {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
}

.grid-wrapper {
    /* margin: 24px; */
    padding: 0;
    flex-direction: row;
}

.grid-cell:first-child {
    border-top: 1px solid;
}

.grid-row:first-child .grid-cell {
    border-left: 1px solid;
}

.grid-row {
    flex: 1;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    justify-content: flex-start;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin: 0;
    padding: 0;
    height: auto;
}

.grid-row .grid-cell {
    flex: 1 0;
    flex-basis: 100%;
    width: 64px;
    height: 64px;
    background-color: #fff;
    /* border-left: 1px solid; This might be sideways, given the flexbox */
    border-right: 1px solid;
    border-bottom: 1px solid;
    /* This is a basic sprite mapping */
    background-image: url(../../assets/images/tiles.png);
    background-size: 512px 512px;
    /* background-size: 800%; */
    image-rendering: pixelated;
}

.classic .grid-row .grid-cell {
    background-image: url(../../assets/images/tiles-classic.png);
}

.dungeon .grid-row .grid-cell {
    background-image: url(../../assets/images/tiles-dungeon.png);
}

.grid-cell.t0 {
    background-position: 0px 0px;
}

.grid-cell.t1 {
    background-position: 0px -64px;
}

.grid-cell.t2 {
    background-position: 0px -128px;
}

.play-mode .grid-cell.t2 {
    animation: playerAnim 1s steps(3) infinite;
}

@keyframes playerAnim {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -192px;
    }
}

.grid-cell.t3 {
    background-position: 0px -192px;
}

.grid-cell.t4 {
    background-position: 0px -256px;
}

.play-mode .grid-cell.t4 {
    animation: targetAnim 1s steps(4) infinite;
}

@keyframes targetAnim {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -256px;
    }
}

.grid-cell::before {
    content: " ";
    float: left;
    padding-top: 100%;
}
