/* Wrap inside of body */
.layout-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.heading-container {
    flex: 1;
    display: flex;
    /* background-color: green; */
}

.logo-container {
    flex: 1;
    display: flex;
}

.toolbar-container {
    flex: 11;
    display: flex;
}

.central-container {
    flex: 8;
    display: flex;
    /* background-color: blue; */
}

.sidebar-container {
    flex: 1;
    display: flex;
    /* background-color: purple; */
}

.stage-container {
    flex: 8;
    display: flex;
    /* background-color: yellow; */
}

.tileset-container {
    flex: 2;
    /* padding-right: 0.5em; */
    /* padding: 0.5rem 0.5rem 0 0; */
    height: 100%;
    padding-bottom: 0px;
}

.footer-container {
    flex: 2;
    display: flex;
}
