.tileset {
    /* position: absolute; */
    /* width: 300px; */
    /* left: 80%; */
    /* top: 20%; */
    height: 100%;
    background-color: #474747;
    flex-direction: column;
    color: white;
    /* padding: 0.5rem 0.5rem; */
    margin-right: 0.55rem;
}

.tileset-toggle {
    margin: 4px;
    padding: 8px;
    font-size: 0.3em;
}

.tileset-icon {
    width: 64px;
    height: 64px;
    /* background-color: #fff; */
    background-image: url(../../assets/images/tiles.png);
    background-size: 512px 512px;
    border: 1px solid black;
    image-rendering: pixelated;
}

.classic .tileset-icon {
    background-image: url(../../assets/images/tiles-classic.png);
}

.dungeon .tileset-icon {
    background-image: url(../../assets/images/tiles-dungeon.png);
}

.tileset-icon.t0 {
    background-position: 0px 0px;
}

.tileset-icon.t1 {
    background-position: 0px -64px;
}

.tileset-icon.t2 {
    background-position: 0px -128px;
    animation: playerAnim 1s steps(3) infinite;
}

@keyframes playerAnim {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -192px;
    }
}

.tileset-icon.t3 {
    background-position: 0px -192px;
}

.tileset-icon.t4 {
    background-position: 0px -256px;
    animation: targetAnim 1s steps(4) infinite;
}

@keyframes targetAnim {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -256px;
    }
}
