.stage {
    /* flex: 1; */
    flex: 4 4;
    display: flex;
    overflow-y: scroll;
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-width: 40vw; */
    padding: 12px;
}

.stage.vertical-arrangement {
    flex-direction: column;
    flex: 1 1;
}

.stage.vertical-arrangement .grid-row {
    flex: 0 0;
}

.user-stage {
    background-color: #fff;
    flex: 8;
}

.suggestions-stage {
    flex: 2;
    background-color: #fff;
}

.ghost-canvas {
    opacity: 0.7;
}

.user-canvas {
    height: 80%;
}

.footer-stage-wrapper {
    width: 100%;
}

.ghost-canvas .grid-row .grid-cell {
    flex: 1 0;
    flex-basis: 100%;
    width: 16px;
    height: 16px;
    background-color: #fff;
    /* border-left: 1px solid; This might be sideways, given the flexbox */
    border-right: 1px solid;
    border-bottom: 1px solid;
    /* This is a basic sprite mapping */
    background-image: url(../../assets/images/tiles.png);
    background-size: 128px 128px;
    image-rendering: pixelated;
}

.ghost-canvas .grid-cell.t0 {
    background-position: 0px 0px;
}

.ghost-canvas .grid-cell.t1 {
    background-position: 0px -16px;
}

.ghost-canvas .grid-cell.t2 {
    background-position: 0px -32px;
    animation: ghostPlayerAnim 1s steps(3) infinite;
}

@keyframes ghostPlayerAnim {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -48px;
    }
}

.ghost-canvas .grid-cell.t3 {
    background-position: 0px -48px;
}

.ghost-canvas .grid-cell.t4 {
    background-position: 0px -64px;
    animation: ghostTargetAnim 1s steps(4) infinite;
}

@keyframes ghostTargetAnim {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -64px;
    }
}

@keyframes suggestionAnim {
    from {
        filter: opacity(50%);
    }
    to {
        filter: opacity(100%);
    }
}

.user-canvas .grid-cell.grid-cell__highlighted {
    /* filter: hue-rotate(300deg); this turns the cell green */
    /* filter: saturate(400%); */
    animation: suggestionAnim 750ms infinite;
}

.ghost-canvas .grid-cell.grid-cell__highlighted {
    /* filter: hue-rotate(90deg); this turns the cell green */
    /* filter: saturate(400%); */
    filter: opacity(100%);
}

.ghost-canvas .grid-cell {
    filter: opacity(40%);
}
