.sidebar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.sidebar .button {
    /* justify-content: center; */
    /* align-items: center; */
}
