/* Wrap inside of body */
.layout-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.heading-container {
    flex: 1;
    display: flex;
    /* background-color: green; */
}

.logo-container {
    flex: 1;
    display: flex;
}

.toolbar-container {
    flex: 7;
    display: flex;
}

.central-container {
    flex: 8;
    display: flex;
    /* background-color: blue; */
}

.sidebar-container {
    flex: 1;
    display: flex;
    /* background-color: purple; */
}

.stage-container {
    flex: 7;
    display: flex;
    /* background-color: yellow; */
}
